.title {
  font-weight: bold;
}

.values {
  margin-top: 20px;
  /* background: rgb(243, 243, 232); */
}

.value {
  margin-top: 10px;
  border-top: 1px solid rgb(116, 112, 112);
  color: #fff
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.main {
  padding: 10px;
  background: #333274b7;
  color: #fff;
}
